week4.json
{
  "name": "UrbanStyle FAQ Bot AI - Week 4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e8e40bfd-b6a1-4c8d-bbaf-f0c76ca05999",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "chatId": "6205033039",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        0
      ],
      "id": "e20648e5-ef92-4bdb-987b-a2dc088c635b",
      "name": "Send a text message",
      "webhookId": "54db3bbb-85c3-41fd-8c1a-5e765df4c3e9",
      "credentials": {
        "telegramApi": {
          "id": "ylCU6R3fsV60y5qE",
          "name": "UrbanStyle FAQ Bot 1"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Kas teil on astronaudikostüüme?",
        "messages": {
          "messageValues": [
            {
              "message": "a oled UrbanStyle.ltd klienditeeninduse assistent.  Vasta ainult alloleva KKK teadmusbaasi põhjal. Kui vastust ei ole teadmusbaasis, ütle: \"Ma ei leia sellele automaatset vastust. Palun suuna küsimus inimesele.\"  Vasta eesti keeles. Vasta lühidalt, sõbralikult ja praktiliselt. Maksimaalne pikkus: 3 lauset.  KKK TEADMUSBAAS:  1. Tagastuspoliitika: Klient saab toote tagastada 30 päeva jooksul alates kättesaamisest. Toode peab olema kasutamata, originaalpakendis ja siltidega. Tagastus on tasuta — kasutada saab kaasas olevat tagastussilti.  2. Tarne: Tallinna ja Tartu pakiautomaatidesse 1-2 tööpäeva, mujale Eestisse 2-3 tööpäeva. Saab kätte SmartPOST, Omniva või DPD pakiautomaatidest.  3. Tarne tasuta: Tellimustelt üle 50€ on tarne tasuta. Vähemate tellimuste puhul on tarne 3,99€.  4. Lahtiolekuajad: Tallinna pood E-R 10-21, L 10-19, P 11-18. Tartu pood E-R 10-19, L 10-17, P suletud. Pärnu pood E-R 11-19, L 10-17, P suletud. Narva pood E-R 10-20, L 10-18, P 11-17.  5. UrbanStyle Club: Tasuta liikmelisus. Saad: tasuta tarne kõikidele tellimustele, -10% esimeselt ostult, sünnipäevapakkumine -20%, varajane juurdepääs uutele kollektsioonidele.  6. Hinnatase: Keskmine kleit 39-89€, t-särk 19-39€, denim 49-99€, jakke 79-149€. Soodustused regulaarselt 30-50%.  7. Suurused: Pakume suurused XS-XXL. Suuruste tabel on iga toote lehel. Kui suurus ei sobi — tasuta tagastus 30 päeva jooksul.  8. Maksevõimalused: Pangakaart, pangaülekanne, järelmaks (Modena, Aasa Global), Apple Pay, Google Pay.  9. E-pood turvalisus: Kasutame SSL-krüpteeringut. Maksed töötlevad litsentseeritud Eesti partnerid (Maksekeskus, EveryPay).  10. Klienditeenindus: E-mail klient@urbanstyle.ee, telefon +372 600 1234 (E-R 9-18), live chat kodulehel (E-R 10-19)."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "id": "ea6b0d46-ed6c-4c15-a4de-079fea4969ba",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        208,
        224
      ],
      "id": "20cd36a5-6a0c-4809-96ca-1b5c4577e19e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cebMUANbR5nxiYdi",
          "name": "Groq UrbanStyle FAQ"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "62053802-fd0b-4a85-bfe4-de8ef2a2292b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5949fab626268d8b88b21dc50348a43b1823770fe66fe1bcebd9d5e1e0dd23d0"
  },
  "id": "i1obdth9iD15l85q",
  "tags": []
}